<div class="navbar" ng-controller="loggedInNavController">
  <div class="headercompanyname">Banal Conga Line</div>
  <ul class="navlinks">
    <li ng-click="togglePostRequest()">POST REQUEST</li>
    <li ng-click="togglePostEvent()">POST EVENT</li>
    <li ng-click="redirect('requests')">SEARCH REQUESTS</li>
    <li ng-click="redirect('events')">SEARCH EVENTS</li>
    <li ng-click="redirect('user')">PROFILE</li>
    <li ng-click="logout()">LOGOUT</li>
  </ul>
  <div class="postRequestForm" ng-show="showRequests">
    <form ng-submit="sendPostRequest()">
      Requested Talent: <input type="text" ng-model="request.talent"><br>
      Level: <input type="text" ng-model="request.level"><br>
      Location: <input type="text" ng-model="request.location"><br>
      <input type="submit" value="SUBMIT">
    </form>
  </div>
  <div class="postEventForm" ng-show="showEvents">
    <form ng-submit="sendPostEvent()">
      Event Name: <input type="text" ng-model="ev.name"><br>
      Description: <input type="text" ng-model="ev.description"><br>
      Location: <input type="text" ng-model="ev.location"><br>
      Organizer: <input type="text" ng-model="ev.organizer"><br>
      HashTag: <input type="text" ng-model="ev.hashtag"><br>
      <input type="submit" value="SUBMIT">
    </form>
  </div>
</div>